@import url("global.css");

main {
  position: relative;
  background: #00c9a7;
  min-height: 100vh;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 2;
}

main .box {
  display: inline-block;
  margin: 18px;
  border-radius: 10px;
  background-color: #1d1b31;
  padding: 10px;
  width: calc(100% - 40px);
}

main .box h2 {
  color: #008d07;
  font-size: 20px;
  font-weight: 500;
}
